extends layout

block content
  for author_entry in author
    table
      tr
        td
          form(action='/authors/#{author_entry.id}/edit', method='get')
            input(class='btn btn-sm' type='submit', value='edit')
          form(action='/authors/#{author_entry.id}/remove', method='get')
            input(class='btn btn-sm' type='submit', value='remove')
      tr
        td 
          h3 #{author_entry.first} #{author_entry.last}
      tr
        td #{author_entry.bio}
      tr
        td 
          img.home-images(src='#{author_entry.url}', alt='#{author_entry.id}')
