extends layout

block content
  for book_entries in titles
    table
      tr
        td 
          a(href='/books/#{book_entries.id}') #{book_entries.title}
      tr
        td #{book_entries.genre}
      tr
        td #{book_entries.description}
      tr
        td #{book_entries.url}
