extends layout

block content
  table
    tr
      td
        form(action='/books/#{id}/edit', method='get')
          input(class='btn btn-sm' type='submit', value='edit')
        form(action='/books/#{id}/remove', method='get')
          input(class='btn btn-sm' type='submit', value='remove')
    tr
        td
          h3 #{title}
          p
      for authObjs in authors
        tr
          td 
            h5 #{authObjs[0].first} #{authObjs[0].last}
      tr
        td
          h5 #{genre}
      tr
        td #{description}
      tr
        td
          img.home-images(src='#{url}', alt='#{title}')
          
        
