extends layout

block content
  table
    tr
      td
        form(action='/books/#{id}/edit', method='get')
          input(type='submit', value='edit')
        form(action='/books/#{id}/remove', method='get')
          input(type='submit', value='remove')
    tr
        td #{title}
          p
      for authObjs in authors
        tr
          td #{authObjs[0].first} #{authObjs[0].last}
            br
      tr
        td #{genre}
      tr
        td #{description}
      tr
        td
          img.home-images(src='#{url}', alt='#{title}')
          
        
