extends layout

block content
  for author_to_edit in author
    p
    p EDIT AUTHOR
    p
    form(class='form-group' action='/authors/#{author_to_edit.id}?_method=PUT' method='post')
      label(for=('first')) First: 
      p
        input(class='form-control' type='text' id='first' name='first' value='#{author_to_edit.first}')
      
      label(for=('last')) Last: 
      p
        input(class='form-control' type='text' id='last' name='last' value='#{author_to_edit.last}')
      
      label(for=('bio')) Bio: 
      p
        textarea(class='form-control' id='bio' name='bio') #{author_to_edit.bio}
      
      label(for=('url')) URL:
      p
        input(class='form-control' type='text' id='url' name='url' value='#{author_to_edit.url}')
      
      p
        input(class='btn' type='submit' value='change author')
